@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{font-family:'Noto Sans KR', 'roboto', sans-serif;}

html{margin:0;padding:0;font-size:62.5%;}
.wrap{background-image:url(/Images/background.png);background-repeat:no-repeat;background-size:auto;height:100vh;}
.container{margin:0 auto;padding:0 20px;margin-left:0;--bs-gutter-x:0;}
input{border:0;padding:0;background-color:transparent;}
input:focus{outline:none;}
img{object-fit:cover;}

/* font */
.main_font{font-size:3rem;font-weight:bold;color:#333333;}
.h5{font-size:2rem;font-weight:bold;margin-bottom:0;}
.h6{font-size:1.5rem;font-weight:500;color:#666666;margin-bottom:0;}

p{margin-bottom:0;}
.me-3{margin-right:0px;}
a{text-decoration: none;}

/* ----------header */
header{height:56px;margin:0 auto;display:flex;align-items:center;}
header.container{display:flex;margin:0 auto;}
.wallet_logo{display:flex;align-items:center;}
.input_area{padding:10px 20px;background-color:#cb7f77;border-radius:15px;}
.input_area input{color:#f5f5f5;font-size:14px;}
.connect{display:flex;justify-content:end;}
.header a{font-size:14px;color:#333333;background-color:#f5f5f5;border-radius:15px;padding:8px 20px;font-weight:bold;}

/* nav */
.nav{display:flex;justify-content:center;}
.nav_top{background-color:#f5f5f5;width:100%;border-radius:15px 0 0 15px;}
.d-flex{justify-content:center;}
.contents{background-color:#eeeeee;border-radius:0 15px 15px 0;}
.nav-link:nth-of-type(4){margin-bottom:300px;}
.nav-link:first-of-type{margin-top:20px;}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{background-color: #cb7f77;}

/* contents */
.contents_box{padding:20px;}
.contents_border_bottom{margin-bottom:10px;padding-bottom:20px;}
.contents_top{display:flex;justify-content:space-between;align-items:center;}
.chain_change_btn{display:flex;flex-direction:row;}

/* ---left_box */
.left_box{background-color:#f5f5f5;padding:20px 30px;}
.head_line{display:flex;margin:50px 0;justify-content:space-between;}
.head_txt{display:flex;flex-flow:column;justify-content:space-around;margin-right:10px;}
.token_write{background-color:#dddddd;border-radius:15px;width:100%;}
.token_input{width:100%;display:flex;flex-direction:column;}
#token_name{width: 88%;height:40px;margin-left:36px;}
#token_box{margin-bottom:10px;}
#token_box h3{margin-bottom:5px;}
.tka{height:150px;}
.input_btn{background-color:#cb7f77;padding:10px 20px;color:#f5f5f5;border-radius:15px;}


/* right_box */
.right_box{background-color:none;margin-left:20px;width:56%;padding-left:0px;}
.coin_wxy_left{display:flex;align-items:center;}
.coin_wxy_left p{margin-bottom: 0px;}
.coin_wxy_left img{margin-right:15px;}
.coin_wxy:hover{background-color:#999999;transition:ease-in-out 0.5s;}
.coin_binance_coin:hover{background-color:#999999;transition:ease-in-out 0.3s;}
.null:hover{background-color:#999999;transition:ease-in-out 0.3s;}
.coin_wxy, .coin_binance_coin{width:100%;background-color:#f5f5f5;padding:10px 20px;display:flex;justify-content:space-between;margin-bottom:20px;align-items:center;}
.img_box{margin-right:20px;background-image:url(/Images/그룹\ 3988.png);background-repeat:no-repeat;background-size: auto;width:41px;margin-top:20px;}
.null{width:100%;height:90px;background-color:#f5f5f5;padding:10px 20px;text-align:center;line-height:60px;}
.null img{width:25px;padding-top:2.5rem;}

/* 체크박스 */
#chk1, #chk2{position:absolute; left:-1000%;}
label {position:relative; display:block; width:40px; height:20px; background:#333333; border-radius:30px;transition: ease 0.4s;}
label:after{content:""; position:absolute; left:1.5px; top:50%; width:18px; height:18px; border-radius:100%; background:#fff; transform:translateY(-50%);}
#chk1:checked + label, #chk2:checked + label {background:#333333; transition: all 0.4s;}
input:checked + label:after {left:calc(100% - 19.5px); }
label span {display:none;}

/* 미디어커리 */
@media (max-width: 1199.98px){
    .row{flex-wrap:nowrap;}
    p{font-size:1rem;}
    .main_font{font-size:2rem;}
    .h5{font-size:1.5rem;}
    .h6{font-size:1.2rem;}
    #token_name{font-size:1.2rem;}
    .head_line{margin:35px 0;}
    .nav-link:nth-of-type(4){margin-bottom:260px;}
}
@media (max-width:991px){
    .wrap{background-size:cover;height:auto;}
    .contents_main{flex-direction:column;}
    .left_box{width:100%;}
    .right_box{margin:20px 0 0 0;width:100%;}
    .nav-link:nth-of-type(4){margin-bottom:0px;}
}

@media (max-width:768px){
    
    .head_line{margin:25px 0;}
    .main_font{font-size:1.3rem;}
    .contents_border_bottom{padding-bottom:10px;}
}
@media (max-width:500px){
    .h5{font-size:1.5rem;}
    .h6{font-size:1.2rem;}
    .head_img img{width:100%;}
}
@media (max-width:440px){
    .container{padding:0px 15px;}
    .wallet_logo h1 a{font-size:12px;padding:5px 10px;}
    .input_area{padding:5px 10px;}
    #con_btn{font-size:12px;}
    .left_box{padding:15px 15px;}
    .h5{font-size:1.4rem;font-weight:500;color:#333333;}
    .h6{font-size:1rem;font-weight:400;}
    #token_name{font-size:1rem;}
    .input_btn{font-size:1.2rem}
    .nav-link{padding-left:}
    .nav-link img{width:25px;}
    .head_line{margin:15px 0;}
}