@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{font-family:'Noto Sans KR', 'roboto', sans-serif;}


body{margin:0;letter-spacing:-0.4px;padding:0;}
a{text-decoration:none;color:white;}
.wrap{width:100%;background-image: url(/Images/background.png);height:100vh;overflow:hidden;}
.container{max-width:1440px;margin:0 auto;}
svg{cursor: pointer;}

/* -style- */
/* header */
.header{background-color:#00000077;position:relative;}
.nav{display:flex;justify-content:space-between;align-items:center;background-color:transparent;padding:8px 12px;height:70px;}
.navbar_logo {font-size:24px;color:white;}
.navbar_logo a{font-size:60px;font-weight:bold;}
.navbar_menu {display:flex;list-style: none;}
.navbar_menu li{padding:8px 36px;color:#f5f5f5;cursor: pointer;}
.navbar_menu li:hover{color:#cb7f77;}
.navbar_menu li::after{content:'';border-bottom:4px solid #cb7f77;display:block;position:absolute;top:100%;}
.navbar_link{display:flex;}
.navbar_m{display:none;color:#f5f5f5;font-size:30px;}
/* header */

/* section */
.section .container{margin-top:120px;}
.left_info{margin-left:100px;margin-top:50px;}
.left_info .coin_name span:first-child{font-size:120px;font-weight:bold;color:#cb7f77;}
/* .left_info .coin_name span:last-child{font-size:60px;font-weight:600;color:#f5f5f5;} */
.coin_address p{font-size:12px;color:#dddddd;margin-bottom: 8px;}
.coin_address img{cursor: pointer;}
.swiper-slide{display:flex;justify-content:space-evenly;}
.box_background{width:500px;height:353px;background-color:#ffffff;border-radius:15px;}
.coin_price{font-size:60px;font-weight:bold;color:#f5f5f5;margin-bottom:20px;}
#send{border:none;border-radius:10px;width:120px;height:40px;font-size:16px;font-family:'Noto Sans KR';color:#333333;font-weight:bold;letter-spacing:-0.05em;}
#send:hover{background-color: #cb7f77;color:#f5f5f5;}
.box_background h1{font-size:14px;font-weight:bold;color:#333333;padding:20px 25px 0 25px;}
.box_background ul{padding:0 20px;}
.box_background ul li{background-color:#f5f5f5;margin:6px 0;padding:15px;border-radius:15px;display:flex;justify-content:space-between;}
.box_background ul li:hover{background-color:#666666;}
.box_background ul li span{font-size:14px;}
.box_background ul li span:nth-of-type(1){font-weight:bold;}
.box_background ul li .down{color:red;}
.box_background ul li .upload{color:blue;}
#more_info{font-weight:bold;}
.more_view{text-align:center;margin-top:10px;font-size:14px;font-weight:bold;cursor: pointer;}
.swiper-button-next, .swiper-button-prev{display:none;}
.swiper-button-next:after, .swiper-button-prev:after{color:#ffffff;}
.box_background_bottom{width:500px;height:200px;border-radius:15px;background-color:#ffffff;margin-top:20px;}

/* 월렛 */
.coin_wallet{padding:20px 20px;display:flex;justify-content:space-between;align-items:center;}
.coin_wallet p{font-size:12px;font-weight:600;color:black;}
.coin_center{margin-right:42px;}
.coin_wallet p:first-child{margin-bottom:10px;}
.coin_right p:first-child{text-align:end;}
.coin_right p:last-child{font-size:20px;font-weight:800px;}
.coin_roadmap{padding:20px;display:flex;}
.coin_roadmap::before{content:'';display:block;border-top:2px solid #999999;position:absolute;width:464px;top:82%;}
.coin_roadmap p{font-size:10px;font-weight:400;}
#rp{background-color:#dddddd;border-radius:10px;padding:10px;margin-right:10px;text-align:center;width:66.48px;}
#rp:last-child{margin-right:0;}
#rp::before{border:5px solid #333333;position:absolute;content:'';border-radius:25px;top:81.3%;}
#rp::before:hover{border:red;}
#rp h4{color:black;}
.roadmap_price{margin-top:5px;}


/* modal-- */
.modal_wrap{display:none;width:600px;height:345px;position: absolute;top:50%;left: 50%;margin:-204px -337px;background:#f5f5f5;z-index: 2;border-radius:15px;}
.black_bg{display: none;position: absolute;content: "";width: 100%;height: 100%;background-color:rgba(0, 0, 0, 0.692);top:0;left: 0;z-index: 1;}
.modal_close{width: 26px;height: 26px;position: absolute;top:4px;right:4px;}
.modal_close> a{display: block;width: 100%;height: 100%;
background:url(https://img.icons8.com/metro/26/000000/close-window.png);
text-indent: -9999px;}
.modal_container{padding:20px;display:flex;}
.modal_coin_left{background-color:#dddddd;border-radius:15px;flex:3.5;display:flex;flex-direction:column;align-items:center;}
.modal_coin_img{width:120px;}
.modal_coin_img img{width:120px;margin-top:30px;margin-bottom:15px;}
.modal_coin_name{font-size:24px;font-weight:bold;color: #333333;display:flex;margin-bottom:15px;}
.modal_coin_name p{margin-right:5px;}
.modal_coin_info p{font-size:12px;font-weight:300;line-height:20px;}
.modal_coin_address, .modal_amount, .modal_input{background-color:#dddddd;padding:10px;border-radius:15px;margin-bottom:10px;}
.modal_coin_right{flex:6.5;margin-left:13px;}
.address_top{display:flex;justify-content:space-between;align-items:center;margin-bottom:10px;}
.address_top p{font-size:12px;font-weight:600;color:#333333;}
#address_copy{height:20px;border-radius:8px;background-color:#333333;color:#ffffff;border-style:none;padding:0 10px;font-size:11px;letter-spacing:-0.075em;}
#inputAddress{width:99%;border-style:none;border-radius:10px;height:32px;}
.modal_input{height:94px;display:flex;justify-content:center;margin-bottom:0;}
#input_btn{align-self:center;border-style:none;background-color:#333333;color:#f5f5f5;font-size:14px;font-weight:500;width:133px;height:35px;border-radius:10px;}

/* more_info modal */

/* m_nav= */
.m_nav{position:absolute;width:100%;height:100vh;background-color:#000000e0;left:0%;top:100%;z-index:3;display: none;}
.m_nav ul{padding:20px;}
.m_nav li{text-align:center;padding:30px 0;font-size:20px;font-weight:bold;}
.m_nav li:hover{background-color: #333333ef;cursor: pointer;}
.m_nav li:hover>a{color: #cb7f77;}




@media screen and (max-width:1150px){
    .left_info{margin-left:0px};
}
@media screen and (max-width:910px){
    .wrap{height:auto;}
    .section .container{margin:0 20px;}
    .swiper-slide{flex-direction:column;}
    .swiper-button-next:after, .swiper-button-prev:after{display:none;}
    #send{margin-bottom:27px;}
    .box_background{width:auto;}
    .left_info{display:flex;flex-direction:column;align-items:flex-start;}
    .coin_roadmap::before{top:88%;}
    #rp::before{top:87.7%;}
    .box_background_bottom{width:auto;margin-bottom:20px;}
    .coin_center{margin-right:auto;}
    .coin_center p{font-size:10px;}
    .coin_right p{font-size:10px;}
    .coin_right p:last-child{font-size:14px;}
    .coin_roadmap::before{width:95%;}
}
@media screen and (max-width:768px) {
    .nav{padding:0 18px;}
    .navbar_logo a{font-size:45px;}
    .navbar_menu{display:none;}
    .navbar_m{display: block;}
    .swiper-slide{flex-direction:column;flex-flow:column;}
    #send{width:100%;}
    /* modal */
    .modal_wrap{left:58%;}
}
@media screen and (max-width:680px){
    .modal_wrap{width:400px;left:72%;top:45%;height:606px;}
    .modal_container{flex-direction:column;}
    .modal_coin_right{margin-left:0;}
    .modal_coin_left{margin-bottom:20px;}
    .wrap{background-image:url(/Images/wxy-m-index.png);background-repeat:no-repeat;background-size:cover;}
}
@media screen and (max-width:440px){
   
    .coin_price p{font-size:40px;}
    .left_info .coin_name span:first-child{font-size:80px;}
    .left_info .coin_name span:last-child{font-size:40px;}
    .box_background ul li span{font-size:11px;}
    .down, .upload{font-size:12px;}
    .modal_wrap{width: 370px;left:88%;top:38%;height:607px;}
    .modal_coin_info p:last-child{margin-bottom: 10px;}
    .coin_roadmap::before{top:87%;}
    #rp::before{top:86.7%;}
    .coin_right p:last-child{text-align:end;}
}

@media screen and (max-width:360px) {
    .navbar_logo a{font-size:32px;}
    .navbar_link{display:none;}
    .nav{height:50px;}
    .left_info{flex-direction:column;align-items:flex-start;}
    #rp p{font-size:8px;}
    .coin_right p:last-child{font-size:11px;}
    
    /* modal */
    .modal_container{flex-direction:column;}
}